body {
    background-color: #B0B0B0;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color:red;
}

ul {
    color: #0000FF;
    font-style: oblique;
}

/* Class */

.text-red {
    color: #ff0000;
}

.nav-position {
    list-style-position: inside;
    display: inline-block;
}